body{
    background-color: #1e2328;
    text-align: left;
  }
  h1{
    font-family: Georgia;
    color: #f0e6d2;
    font-size: 30px;
    text-align: center;
  }     

  p{
    min-width: 280px;
    padding: 24px 20px;
    margin: 54px 0;
    background: linear-gradient(180deg,#0596aa 0,#005a82);
    font-size: 1.6rem;
    font-weight: 700;
    color: #cdfafa;
    text-align: center;
  } 